<p id="notice"><%= notice %></p>

<h1>Retailers</h1>

<% @retailers.each do |retailer| %>
  <div class="retailer-card">
    <h2>
      <%= link_to retailer.name, retailer %>
    </h2>
    <p>
      <%= link_to 'Edit', edit_retailer_path(retailer) %> |
      <%= link_to 'Destroy', retailer, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>

<%= link_to 'New Retailer', new_retailer_path %>
