<div class="product-card">

  <p>
    <b><%= product.name %></b>
  </p>

  <% if product.description.present? %>
    <p>
      <%= product.description %>
    </p>
  <% end %>

  <p>
    <%= product.display_price %>
  </p>

  <p>
    <%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

</div>
